.header {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: lightgray;
}

.logo-title {
  display: flex;
  align-items: center;
}

.header img {
  width: 50px;
  margin: 0 5px 0 24px;
}

.header h1 {
  margin: 0;
}
