.mission-table {
    color: #333;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 20px 5%;
  }
  
  .mission-table td {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .mission-table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .mission-cell {
    vertical-align: top;
    width: 10%;
    font-size: 20px;
    font-weight: 600;
  }
  
  .status-cell,
  .button-cell {
    text-align: center;
    width: 10%;
  }
  
  .join-status {
    font-size: 14px;
    background-color: #777;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .join-button {
    font-size: 16px;
    background: none;
    padding: 5px 7px;
    border: 2px solid #777;
    border-radius: 3px;
  }
  
  .join-button:hover {
    cursor: pointer;
  }
  
  .description-cell {
    font-size: 14px !important;
    width: 55%;
  }
  
  /* JOIN STATE  */
  .join-rows {
    background-color: #dee2e6;
  }
  
  .leave-button {
    font-size: 14px;
    background: none;
    color: #f00;
    border: 1px solid #f00;
    padding: 7px 10px;
    border-radius: 3px;
  }
  
  .leave-button:hover {
    cursor: pointer;
  }
  
  .leave-status {
    background-color: #22b8cf;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  