.profile-container {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: blue solid 2px;
}

.profile-wrapper {
  display: flex;
  width: 90%;
  outline: red solid 2px;
}