
.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80%;
  min-height: 100px;
  padding: 24px 0;
  display: flex;
  border-bottom: gray solid 2px;
}

.card-image,
.card-text {
  margin: 12px;
}

.card-text h2 {
  margin: 12px 0;
}

.card img {
  width: 300px;
  height: 200px;
  background-color: aqua;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.card .reserved {
  padding: 3px;
  margin: 5px 5px 5px 0;
  background-color: green;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}

.rocket-desc {
  line-height: 1.5em;
}

.reserve-button {
  font-size: 16px;
  background-color: rgb(48, 113, 233);
  padding: 5px 7px;
  border: 2px solid rgb(48, 113, 233);
  border-radius: 3px;
  color: #fff;
}

.reserve-button:hover {
  cursor: pointer;
}

.cancel-button {
  font-size: 16px;
  background: none;
  padding: 5px 7px;
  border: 1px solid gray;
  border-radius: 3px;
  color: gray;
}

.cancel-button:hover {
  cursor: pointer;
}
