.card {
    width: 100%;
    min-height: 100px;
    display: flex;
}

.card-image,
.card-text {    
    margin: 12px;  
}

.card img {
    width: 200px;
    height: 150px;  
    background-color: aqua;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card button {
    margin: 12px;
    margin-left: 0;
}